<div class="bottombar" style="padding-bottom: 6px;">
<div style="background: linear-gradient(to bottom, #FFFFFF, #eaeaea); height: 6px;"><br><br></div>

<div class="bottom-text-content"> 
    <div class="bottom-flex-content">
        <div class="bottombar-logo">
            <img src="/assets/images/rtclogobluishgrey.png" height="50">
        </div>

        <div class="vertical-line">&nbsp;</div>

        <div class="link-list">
        <ul style="list-style: none; padding-left: 0;">
            <li>
            <a href="/contact.html">
                <b data-trans="bottom-inquire">Inquire</b>
            </a>
            </li>
            <li>
            <a href="/privacy.html">
                <b data-trans="bottom-privacy">Privacy</b>
            </a>
            </li>
        </ul>
        </div>

        <div class="vertical-line">&nbsp;</div>

        <div>
        <a href="https://bsky.app/profile/comrades.sbs">
            <img src="/assets/images/bsky-logo.webp" height="25" width="25">
        </a>
        </div>
    </div>

    <div>
        <hr>
        <p data-trans="bottom-rentseek">The RTC is a technical association against rent-seeking.</p>
        <p data-trans="bottom-pd">↫ This site dedicated to the Public Domain via Creative Commons 1.0 Universal.</p>
    </div>
    </div>
</div>

<script src="/scripts/topmenu.js"></script>
<script src="/scripts/translate.js"></script>