<!doctype html>
<html lang="en">
  {{ include templates/head.html }}

  <body>
    {{ include templates/topbar.html }}

    {{ ifdef page_image
      <div class="post-big-banner" style="background-image: url('/{{ var page_image }}');"></div>
    }}

    <div class="main-body">
        <div class="posttop" >
          <h1>{{ var title }}</h1>
          <p>{{ var date }} {{ ifdef description \ ∘ <span style="color:gray; font-style:italic;"> {{ var description}}</span>}}</p>
        </div>

        <div class="genpost">
          {{ var docdata }}
        </div>
    </div>
        
    {{ include templates/bottombar.html }}
  </body>

  <script src="/scripts/print_article.js"></script>
</html>