<div class="big-mobile-menu" style="display: none;" id="mobimenu">
    <div class="big-mobile-wrapper">
    <div class="big-mobile-link">
        <a href="/periodical.html">TEXTS</a>
    </div>

    <div class="big-mobile-link">
        <a href="/support.html">DONATE</a>
    </div>

    <div class="big-mobile-link">
        <a href="/contact.html">INQUIRE</a>
    </div>

    <div class="big-mobile-link">
        <a href="/join.html">CONTRIBUTE</a>
    </div>

    <div class="big-mobile-link">
        <a href="#" onclick="topmenuToggle();">✖ CLOSE MENU</a>
    </div>  
    </div>
</div>

<div id="topbar">
    <div class="rtc-logo">
        <a href="/index.html">
            <img src="/assets/images/rtclogo.png" width="83" height="42">
        </a>
    </div>

    <div class="topbar-link">
        <a href="/periodical.html">TEXTS</a>
    </div>

    <div class="topbar-link">
        <a href="/support.html">DONATE</a>
    </div>

    <div class="topbar-link">
        <a href="/contact.html">INQUIRE</a>
    </div>

    <div class="topbar-link">
        <a href="/join.html">CONTRIBUTE</a>
    </div>

    <div class="burguer-menu">
        <a href="#" onclick="topmenuToggle();">☰</a>
    </div>
</div>